# IDEs
.idea/
.vs/
*.DotSettings.user

# Build outputs
bin/
bin-int/
obj/
*.exe
*.dll
*.lib
*.pdb

# solution files
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

!vendor/
!vendor/**

# Premake executable (explicitly include)
!premake5.exe
